<header>
    <div class="container">
        <div class="head-title">
            <h1><a href="/admin">Founder heroes</a></h1>
        </div>
        <div class="back-div"><a class="btn-back" href="{{ path("main") }}">Back to main page</a></div>
    </div>
</header>