{% extends "base.html.twig" %}

{% block link %}<link rel="stylesheet" href="/css/add-hero.css">{% endblock %}

{% block header %}
    {% include "partials/_simple-header.html.twig" %}
{% endblock %}

{% block body %}
    <div class="d-flex flex-column container">
        <h3 class="admin-title">Add a new hero here!</h3>
        <br>
        {% for message in app.flashes("notice") %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="div-form">
            {{ form_start(form) }}
            {% for companyForm in form.companies %}

            {% endfor %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
